In [10]:
from pathlib import Path
import pandas as pd

path = Path("marl_experiments/d22da4e8c815744615a872eded3f45a4/dataset/train/metadata.json")
import json

names = set()
for item in json.load(open(path)):
    names.add(item['env_name'].rsplit('_', 1)[0])

print(names)

m = {}
for i, name in enumerate(names):
    m[name] = i

print(m)

{'Born_Pfeifer_2018_MP', 'Aguiar_Gopinath_2007', 'RBC_news_shock_model', 'Hansen_1985', 'GarciaCicco_et_al_2010', 'Caldara_et_al_2012', 'RBC_capitalstock_shock', 'SGU_2003', 'Gali_2008_chapter_2', 'Collard_2001_example1', 'McCandless_2008_Chapter_13', 'FV_et_al_2007_ABCD', 'RBC_baseline', 'RBC_state_dependent_GIRF', 'SGU_2004', 'Faia_2008'}
{'Born_Pfeifer_2018_MP': 0, 'Aguiar_Gopinath_2007': 1, 'RBC_news_shock_model': 2, 'Hansen_1985': 3, 'GarciaCicco_et_al_2010': 4, 'Caldara_et_al_2012': 5, 'RBC_capitalstock_shock': 6, 'SGU_2003': 7, 'Gali_2008_chapter_2': 8, 'Collard_2001_example1': 9, 'McCandless_2008_Chapter_13': 10, 'FV_et_al_2007_ABCD': 11, 'RBC_baseline': 12, 'RBC_state_dependent_GIRF': 13, 'SGU_2004': 14, 'Faia_2008': 15}

In [2]:
path.exists()

True

In [5]:
train = path / "train" / "1_05fd567f.parquet"
train.exists()

data = pd.read_parquet(train)

data.head()

,state,action,reward,done,truncated,info
0,"[1.390663171906107e-309, 1.39065557868902e-309...",[-0.579692113087618],-0.146101,False,False,{'dummy': 'dummy'}
1,"[-0.1461008655432191, 0.4913128567444978, 1.53...",[0.21013859587716105],-0.045819,False,False,{'dummy': 'dummy'}
2,"[-0.1002819832934168, -0.5765538318777899, 1.1...",[0.07032619011234548],-0.052904,False,False,{'dummy': 'dummy'}
3,"[-0.0473778453714822, -1.1544559049194352, 0.6...",[0.339345889879557],-0.082313,False,False,{'dummy': 'dummy'}
4,"[0.0349346799402597, -0.7554839052014466, -0.0...",[0.026007752991453303],-0.056145,False,False,{'dummy': 'dummy'}